*{
    padding: 0%;
    margin: 0%;
}
nav{
    padding-top: 30px;
}
ul{
    list-style: none;
    font-family: 'Signika', sans-serif;
    font-size: 1rem;
    color: white;
    display: flex;
    gap: 30px;
    
    
   

}
body{
    display: flex;
    background-color: rgb(25, 24, 37);
    justify-content: center;
    align-items: center;
    
}
.first{

    padding-right: 400px;
}