*{
    padding: 0%;
    margin: 0%;
    font-family:  'Signika', sans-serif;
    color: white;
}
/*navbar section*/
nav{
    padding-top: 30px;
    padding-bottom: 100px;
}
.first{
    padding:28px 0px 28px 150px ;
    font-size: 1.2em;
    padding-right: 18em;
}
.second{
    padding:28px 10px 28px 10px ; 
}
.navbar ul{
    list-style: none;
    font-family: 'Signika', sans-serif;
    font-size: 1rem;
    color: white;
    justify-content: center;
    display: flex;
    gap: 30px;
    transition: font-size 2s;
    flex-wrap: wrap;

}
.second:hover{
    color: rgb(143, 67, 238);
    font-size:1.03em;
    cursor: pointer;
}
.first:hover{
    color: rgb(143, 67, 238);
    font-size:1.25em;
    cursor: pointer;
}

body{
    background-color: rgb(17, 5, 26);
    
    
}

/*.main{
    padding-left: 400px;

}*/

.fa-linkedin{
    color: rgb(143, 67, 238);
    font-size: 1.8em;
   
    padding-bottom: 2em;
    
}

.fa-github{
    color:rgb(143, 67, 238);
    font-size: 1.8em;
    padding-bottom: 2em;
    
}
.fa-instagram{
    color:rgb(143, 67, 238);
    font-size: 1.8em;
}
i:hover{
    color: rgb(160, 118, 249);
    cursor: pointer;
}
@media  (max-width: 600px) {
    .navbar{
    flex-direction:column;
    gap:0px
    }
  }
/* HOME SECTION*/
.main{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
    flex-direction: row;
    flex-wrap: wrap;

}
.main2{
    color: white;
    font-family: 'Signika', sans-serif;
    padding: 0 80px 0 80px;
   
}

@media (max-width:800px) {
    .main2 {
        order: 1;
      
    }
}

h1{
    font-size: 50px;
    font-family: 'Signika', sans-serif;
    color: white;

}
/* ABOUT ME SECITON*/

.main3{
    display: flex;
  
    color: white;
    justify-content: center;
    text-align: center;
    gap: 180px;
    padding-bottom: 60px;
}

.about{
    text-align: center;
    padding-bottom: 50px;
    
}
@media  (max-width: 600px) {
    .main3{
    flex-direction:column;
    padding-left: 50px;

    }
  }
  .skills{
    text-align: center;
    padding-bottom: 60px;
  }
